body{
	/*color de fondo*/
	background-color:#2f2f4d;
	/*color texto*/
	color:#e8d18e;
	/*tamaño fuentes*/
	font-size: 16px;
	/*alineacion de texto*/
	text-align: justify;
	margin: 40px;
	padding: 50px
}

h1{
	color: #bab195;
	text-align: center;
	margin-bottom: 20px;
}

h5{
	color:#11091a;
}
/*añade un margen inferior de 20px*/
.espacio{
	margin-top: 30px;
	margin-bottom: 20px;
}

.card-text{
	color: #626970;
}

.card-body{
	background-color: #bab195;
}

.card-link{
color: #11091a;
font-size: 16px;
}

.list-group-item{
	color:#11091a;
}